@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
html,
body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 4.7vmin;
  color: #b8c1ec;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #232946;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fffffe;
}

button {
  background-color: #eebbc3;
  color: #232946;
}
